.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden
}

.inputRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.textarea {
    flex: 1;
    margin-right: 10px;
    height: 50px; /* Adjusted height to half */
    background-color: white;
    color: black;
}

.button {
    height: 50px; /* Adjusted height to match the textarea */
}

.pageSummary {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.urlBox {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.urlBox ul {
    list-style-type: none;
    padding: 0;
}

.urlBox li {
    margin-bottom: 10px;
}

.urlBox a {
    text-decoration: none;
    color: #0070f3;
}

.urlBox a:hover {
    text-decoration: underline;
}

.urlBox i {
    margin-right: 5px;
    cursor: pointer;
}

.mapSection {
    flex: 1;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

/* Custom scrollbar styles */
.mapSection::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the vertical scrollbar */
    height: 8px; /* Adjust the height of the horizontal scrollbar */
}

.mapSection::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.mapSection::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.mapSection::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}
